.small-article {
    border-left: 9px solid var(--black);
    padding-left: 11px;
    margin-bottom: 35px;
}

.small-article__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: var(--black);
    margin-bottom: 10px;


    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.small-article:last-child {
    margin-bottom: 0;
}